@{
    ViewBag.Title = "About";
}

<section class="content-block team-1 team-1-1">
    <div class="container">
        <div class="underlined-title">
            <h1>Diga oi para nosso time</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-6 team-member-wrap">
                <div class="team-member">
                    <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                    <div class="team-details">
                        <h4 class="member-name">Rafael Brito</h4>
                        <p class="position">Front End</p>
                        <p>Acadêmico do curso de Sistemas de Informação na UNITINS (Universidade do Tocantins) e o aluno preferido do professor Itamar xD</p>
                        <ul class="social social-dark">
                            <li>
                                <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-behance"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-dribbble"></i></a>
                            </li>
                        </ul>
                        <!-- /.social -->
                    </div>
                </div>
            </div>
            <!-- /.team-member-wrap -->
            <div class="col-sm-6 team-member-wrap">
                <div class="team-member">
                    <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                    <div class="team-details">
                        <h4 class="member-name">Tales Melquiades</h4>
                        <p class="position">O bixão do Back End</p>
                        <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                        <ul class="social social-dark">
                            <li>
                                <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-behance"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-dribbble"></i></a>
                            </li>
                        </ul>
                        <!-- /.social -->
                    </div>
                </div>
            </div>
            <!-- /.team-member-wrap -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
