@{
    ViewBag.Title = "Contact";
}
<div class="content-block blog-1">
    <div class="container text-center">
        <div class="underlined-title">
            <h1>Covid-19</h1>
            <hr>
            <h2>Coronavírus</h2>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
            <div class="post">
                <h2><a href="#">O que é o Corona Vírus?</a></h2>
                <img class="img-responsive" src="~/assets/img//oquee.jpg">
                <p class="text-justify">
                    Os coronavírus são uma grande família de vírus que podem causar doenças em animais ou humanos. Em humanos,
                    sabe-se que vários coronavírus causam infecções respiratórias que variam do resfriado comum a doenças mais
                    graves. O coronavírus descoberto mais recentemente causa a doença COVID-19.
                </p>
            </div>
            <hr>
            <div class="post">
                <h2><a href="#">Devo me importar com isso?</a></h2>
                <div class="row">
                    <div class="col-sm-6">
                        <img class="img-responsive" src="~/assets/img/trasmissao.jpg">
                    </div>
                    <div class="col-sm-6">
                        <img class="img-responsive" src="~/assets/img/transmissao1.jpg">
                    </div>
                </div>
                <p class="text-justify">
                    A doença devido à infecção PELO NOVO CORONAVÍRUS é geralmente leve, especialmente em crianças e adultos jovens.
                    No entanto, pode causar doenças graves: cerca de 1 em cada 5 pessoas precisam de cuidados hospitalares. Portanto,
                    é bastante COMUM que as pessoas se preocupem com o impacto do surto de COVID-19, entre elas e seus entes queridos.
                </p>
            </div>
            <hr>
            <div class="post">
                <h2><a href="#">Transmissão?</a></h2>
                <img class="img-responsive" src="~/assets/img/transmissao.jpg">
                <p class="text-justify">
                    A doença pode se espalhar entre pessoas, através de pequenas gotículas do nariz ou da boca que se espalham quando
                    uma pessoa com COVID-19 tosse, espirra ou fala.Essas gotículas podem entrar em contato diretamente com o olho,
                    nariz ou boca de outra pessoa ou se acumulam em objetos e superfícies. Quando alguem toca nesses objetos ou superfícies,
                    podem se infectar ao tocar nos olhos, nariz ou boca. É por isso que é importante ficar a mais de 1 metro (3 pés) de uma
                    pessoa doente.
                </p>
            </div>
            <hr>
        </div>
        <!-- /.col-sm-10 -->
    </div>
    <!-- /.container -->
</div>