@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <section id="promo-3" class="content-block min-height-600px promo-3 text-success">
        <div class="container text-center">
            <h1>Ponto de Ajuda</h1>
            <h2>Faça sua Doação</h2>
            <a href="@Url.Action("Create", "Pontos")" target="_self" class="btn btn-outline btn-outline-xl outline-light"><span class="fa fa-heart pomegranate"></span> Ajude quem precisa</a>
            <br>
            <a href="@Url.Action("Index", "Pontos")" class="btn btn-outline btn-outline-xl outline-light"><span class="fa fa-heart pomegranate"></span> Necessita de Doação?</a>
            

        </div>
        <!-- /.container -->
    </section>
    <section id="content-3-4" class="content-block content-3-4">
        <div class="container">
            <div class="row text-justify text-success">
                <div class="col-md-7">
                    <img class="img-responsive" src="~/assets/img/camera-girl.jpg">
                    <h2>COVID-19</h2>
                    <p>Os coronavírus são uma grande família de vírus que podem causar doenças em animais ou humanos. Em humanos, sabe-se que vários coronavírus causam infecções respiratórias que variam do resfriado comum a doenças mais graves. O coronavírus descoberto mais recentemente causa a doença COVID-19.</p>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a class="panel-toggle" data-toggle="collapse" data-parent=".panel-group" href="#content1"><span>Mission Statement</span></a></h4>
                            </div>
                            <!-- /.panel-heading -->
                            <div id="content1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes tumquam core posae volor remped modis volor. Dolorem qui comlus temp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.content -->
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a class="panel-toggle collapsed" data-toggle="collapse" data-parent=".panel-group" href="#content2"><span>Recent Images</span></a></h4>
                            </div>
                            <!-- /.panel-heading -->
                            <div id="content2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes tumquam core posae volor remped modis volor. Dolorem qui comlus temp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.content -->
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a class="panel-toggle collapsed" data-toggle="collapse" data-parent=".panel-group" href="#content3"><span>Contact Details</span></a></h4>
                            </div>
                            <!-- /.panel-heading -->
                            <div id="content3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4>DM Images</h4>
                                    <p>123 Anywhere Street,<br> London,<br> LO4 6ON</p>
                                    <img class="img-responsive" src="images/seagulls.jpg">
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.content -->
                        </div>
                    </div>
                    <!-- /.accordion -->
                </div>
                <!-- /.column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</div>